/* header */

header {
  opacity: 0;
  position: absolute;
  width: 85%;
  max-width: 300px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: var(--color-primary);
  padding: 5px 20px;
  text-align: left;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(198, 198, 198, 0.47) rgba(0, 0, 0, 0.62)
    rgba(0, 0, 0, 0.62) rgba(198, 198, 198, 0.47);
}

/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
} */

h1 {
  font-size: 2rem;
  letter-spacing: 10px;
  margin-bottom: 30px;
  line-height: 4rem;
}

#headerBtnMenu #headerBtn {
  display: none;
  height: 50%;
}

header h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

nav ul,
nav li {
  display: inline-block;
}

nav ul {
  padding: 0;
}
nav li {
  display: block;
  padding: 10px 10px 10px 0;
}

@media only screen and (max-width: 767px) {
  header {
    position: fixed;
    width: 95%;
    margin: auto;
    left: 2.5%;
    top: unset;
    bottom: 10px;
    /* width: 100%; */
    max-width: none;
    transform: none;
  }

  #headerBtnMenu {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  #headerBtnMenu #headerBtn {
    display: block;
  }

  header h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    /* overflow: hidden; */
  }

  header h2 {
    display: none;
    font-size: 1rem;
  }

  header hr {
    display: none;
  }

  nav {
    display: none;
  }

  nav li {
    padding: 10px 0;
    width: 100%;
  }
}

/* content "page" */

.content-page {
  opacity: 0;
  /* position: absolute; */
  /* width: 50%; */
  max-width: 800px;
  margin: 3rem 0.5rem;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background: rgb(0 0 0 / 7%); */
  background: var(--color-primary);
  padding: 20px;
  text-align: left;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(198, 198, 198, 0.47) rgba(0, 0, 0, 0.62)
    rgba(0, 0, 0, 0.62) rgba(198, 198, 198, 0.47);
}

/* about page */

#about .flex-container {
  display: flex;
  gap: 75px;
}

#about .content-block {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#about .flex-container .content-block:first-of-type {
  background-color: var(--color-primary-lighter);
  /* padding: 20px 10px; */
  width: 50%;
  border: 2px solid black;
  border-top-color: #c6c6c678;
  border-left-color: #c6c6c678;
  padding: 10px;
  height: fit-content;
}

#about .flex-container .content-block:first-of-type p {
  margin-top: 0;
}
#about .flex-container .content-block:nth-of-type(2) {
  width: 70%;
}
#about .flex-container .content-block:nth-of-type(2) p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
  .content-page {
    position: static;
    transform: none;
    margin: auto;
    width: 100%;
  }
}

/* connect page */

#connect h3,
#connect a {
  font-family: "Open Sans", sans-serif;
}

#connect h3 {
  font-size: 1.75rem;
}

#connect a {
  font-size: 1.35rem;
}

#connect .flex-container {
  display: flex;
  flex-flow: row nowrap;
}

#connect .content-block {
  border: 2px solid black;
  border-top-color: #c6c6c678;
  border-left-color: #c6c6c678;
  padding: 2px 6px 2px 12px;
  margin: 1rem;
  display: flex;
  flex-flow: column;
}

#connect .content-block hr {
  margin-top: auto;
  width: 100%;
}

#connect .content-block:first-of-type {
  margin-left: 0;
}

/* Exploration */

#endExplore {
  opacity: 0;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
