/* header */

header {
  opacity: 0;
  position: absolute;
  width: 85%;
  max-width: 300px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: #1f1f1f83;
  padding: 5px 20px;
  text-align: left;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(198, 198, 198, 0.47) rgba(0, 0, 0, 0.62)
    rgba(0, 0, 0, 0.62) rgba(198, 198, 198, 0.47);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}

h1 {
  font-size: 2rem;
  letter-spacing: 10px;
  margin-bottom: 30px;
  line-height: 4rem;
}

header h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

nav ul,
nav li {
  display: inline-block;
}

nav ul {
  padding: 0;
}
nav li {
  display: block;
  padding: 10px 10px 10px 0;
}

@media only screen and (max-width: 767px) {
  header {
    top: 50%;
  }

  nav li {
    padding: 10px 0;
    width: 100%;
  }
}

/* content "page" */

.content-page {
  opacity: 0;
  position: absolute;
  width: 85%;
  /* max-width: 900px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: rgb(0 0 0 / 7%); */
  background: var(--color-primary);
  padding: 20px;
  text-align: left;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(198, 198, 198, 0.47) rgba(0, 0, 0, 0.62)
    rgba(0, 0, 0, 0.62) rgba(198, 198, 198, 0.47);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .content-page {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

@media only screen and (max-width: 767px) {
  .content-page {
    position: static;
    transform: none;
    margin: auto;
  }
}

/* Exploration */

#endExplore {
  opacity: 0;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
