#enterScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: black;
}

#enterScreen p {
  position: relative;
  z-index: 1000;
  color: white;
}

#introSceneText {
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 999;
  /* background-color: #00000015; */
}

#introSceneText p {
  font-size: 3rem;
  font-family: "Press Start 2P", cursive;
  line-height: 60px;
  text-align: center;
  background: #000000c4;
  padding: 5rem;
  margin-bottom: 100px;
  user-select: none;
}
