/* General  */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* var */
:root {
  --dark: #121212;
  --text-primary: #fff;
  --color-primary: #1f1f1f;
  --color-primary-lighter: #2d2d2d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

body {
  /* opacity: 0; */
  background: var(--dark);
  color: var(--text-primary);
  font-family: "Press Start 2P", cursive;
  line-height: 30px;
}

body.body-100vh {
  display: flex;
  align-items: center;
  min-height: 98vh;
}

@media only screen and (max-width: 767px) {
  body {
    margin: 0;
  }
}

#mainCanvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  #mainCanvas {
    /* height: 75vh !important; */
    pointer-events: none;
  }
}

/* text styles */

p {
  font-family: "Open Sans", sans-serif;
  /* font-weight: 300; */
  font-style: normal;
  font-size: 1.35rem;
  /* letter-spacing: 3px; */
  /* word-spacing: 3px; */
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

button {
  background-color: var(--color-primary);
  font-family: "Press Start 2P", cursive;
  letter-spacing: 5px;
  word-spacing: 3px;
  line-height: 30px;
  color: var(--text-primary);
  border-top-color: #c6c6c678;
  border-left-color: #c6c6c678;
  padding: 2px 6px 2px 12px;
}

hr {
  background: var(--text-primary);
  border-color: transparent;
}

/* utility */

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }

  .block-mobile {
    display: block !important;
  }
}

.btn-no-click {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

.hide-scrollbar ::-webkit-scrollbar {
  width: 0;
}
